node_modules
.npm

.next

node_modules/.prisma

# Git
.git
.gitignore

.env
.env.local
.env.production

*.log
npm-debug.log*

.vscode
.idea

.DS_Store
Thumbs.db

coverage
__tests__
*.test.ts
*.spec.ts

README.md